In [1]:
# Importar librerías para tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd  # Pandas es una poderosa librería para manipulación y análisis de datos en Python.

# Importar librerías para web scraping y manipulación de datos
# -----------------------------------------------------------------------
from bs4 import BeautifulSoup
import requests

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.

# Importar librerías para pausar la ejecución
# -----------------------------------------------------------------------
from time import sleep  # Sleep se utiliza para pausar la ejecución del programa por un número de segundos.

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

import numpy as np

import re
import random

In [2]:
df_drama = pd.read_csv("drama_no_duplicado.csv", index_col = 0)
df_imdb = pd.read_csv("drama_imdb.csv", index_col = 0)
df_tomatoes = pd.read_csv("drama_tomatoes.csv", index_col = 0)

convertimos tanto el dataframe de los datos de la API como el de IMDB como el de Rotten tomatoes a lista

In [3]:
primeras_drama_8000_df = df_drama.values.tolist()[0:8000]

In [ ]:
primeras_8000_drama_imdb = df_imdb.values.tolist()

In [ ]:
primeras_8000_drama_tomatoes = df_tomatoes.values.tolist()

In [30]:
# Incluir puntuacion tomatoes en la tupla de imdb
def fase2_unificada (lista_imdb, lista_tomatoes, lista_df):

    lista_final_fase2 = []

    for indice, tupla in enumerate(lista_imdb):
        lista_incluir_tomatometer = list(tupla)
        lista_incluir_tomatometer.append(lista_df[indice][5]) ## incluimos codigo imdb por si hace falta para cruzar en la BBDD
        lista_incluir_tomatometer.insert(1, lista_tomatoes[indice])
        tupla_completa = tuple(lista_incluir_tomatometer)
        lista_final_fase2.append(tupla_completa)
        

    return lista_final_fase2

In [31]:
#llamamos a la funcion y le damos las listas anteriores
primeras_8000_drama_todo = fase2_unificada(primeras_8000_drama_imdb, primeras_8000_drama_tomatoes, primeras_drama_8000_df)

In [ ]:
#SI LA PÙNTUACION DE ROTTEN TOMATOES ESTA DENTRO DE UNA LISTA HAZ ESTO
primeras_8000_drama_todo_definitiva = []
for peli in primeras_8000_drama_todo:
    lista = list(peli)
    lista[1]= lista[1][0]
    tupla = tuple(lista)
    primeras_8000_drama_todo_definitiva.append(tupla)

In [ ]:
#el encabezado para el dataframe
#encabezado = ["Puntuacion IMDB", "Puntuacion Rotten Tomatoes", "Direccion", "Guionistas", "Argumento", "Duracion", "Nombre" "Codigo IMDB"]

In [10]:
#convertimos a dataframe
df_drama_primeras_8000_completo = pd.DataFrame(primeras_8000_drama_todo_definitiva)

df_drama_primeras_8000_completo

,0,1,2,3,4,5
0,5.8,Taylor Hackford,Art Linson,Un vistazo a la vida de un malhablado y enveje...,120,The Comedian
1,5.7,Warren Beatty,Warren Beatty,La historia de un amor poco convencional entre...,127,La excepción a la regla
2,No tiene datos,Marko Sanginetto,Brian Carlton,"To escape his memories, a man disappears into ...",No tiene datos,Mud Man
3,7.2,Duane Andersen,Duane Andersen,A superhero loses his powers shortly after tur...,80,Superpowerless
4,6.2,Susanna White,John le Carré,Una pareja se ve arrastrada a los planes de de...,108,Un traidor como los nuestros
...,...,...,...,...,...,...
4503,6.2,Jane Cusumano,Jane Cusumano,Despite different backgrounds and disapproving...,105,What Matters Most
4504,5.8,Dani Minnick,Dani Minnick,Set in California the story traces the intense...,94,Falling Like This
4505,6.0,Stéphane Giusti,"Raphaëlle Desplechin, Stéphane Giusti","Nella and Orfeo, communists, flee Tuscany with...",103,Bella ciao
4506,6.8,Deborah Attoinese,Deborah Attoinese,Three runaway girls hijack a car.,90,Zoe
4507,2.0,Adam Rifkin,Adam Rifkin,A young woman deals with her first heartbreak ...,90,Without Charlie

In [11]:
#convertimos a csv
df_drama_primeras_8000_completo.to_csv("drama_primeras_8000_pelis.csv")