In [11]:
import pandas as pd

import requests

pd.set_option('display.max_columns', None)

In [12]:
#creamos una funcion para sacar una url dinámica con todas la páginas

def url_dinamica (genero, anio, tipo, clave):

    lista_json = []
    
    for pag in range (1,51):

        url = "https://moviesdatabase.p.rapidapi.com/titles"
        querystring = {"genre":genero,"titleType":tipo,"year":anio,"page":pag}
        headers = {
        "X-RapidAPI-Key": clave,
        "X-RapidAPI-Host": "moviesdatabase.p.rapidapi.com"}

        response = requests.get(url, headers=headers, params=querystring)

        response_json = response.json()

        lista_json.append (response_json)
       

    return lista_json

MOVIE

In [13]:
#HECHO 9:55
#creamos un bucle para sacar jsons de varios años llamando a la función anterior, como hay límite sacaremos en esta ronda del 2010 al 2023
lista_json_anios = []

for anio in range(2010,2024):
    #añadimos el tipo y género que queremos buscar 
    #cada una le pone su API KEY
    url2 = url_dinamica("Drama", anio, "movie","54b0a47db5mshf6ed07e25abb30dp19e0edjsn935796beb60a")
    lista_json_anios.append(url2)

In [20]:
#HECHO 11:29

#repetimos lo que hemos hecho en la celda anterior para sacar los datos del 2000 al 2009
lista_json_anios1 = []

for anio in range(2000,2010):
    #añadimos el tipo y género que queremos buscar 
    #cada una le pone su API KEY
    url2 = url_dinamica("Drama", anio, "movie","54b0a47db5mshf6ed07e25abb30dp19e0edjsn935796beb60a")
    lista_json_anios1.append(url2)

SHORT

In [29]:
#HECHO 12:30

#creamos un bucle para sacar jsons de varios años llamando a la función anterior, como hay límite sacaremos en esta ronda del 2010 al 2023
lista_json_anios2 = []

for anio in range(2010,2024):
    #añadimos el tipo y género que queremos buscar 
    #cada una le pone su API KEY
    url2 = url_dinamica("Drama", anio, "short","54b0a47db5mshf6ed07e25abb30dp19e0edjsn935796beb60a")
    lista_json_anios2.append(url2)

In [37]:
#HECHO 13:48

#repetimos lo que hemos hecho en la celda anterior para sacar los datos del 2000 al 2009
lista_json_anios3 = []

for anio in range(2000,2010):
    #añadimos el tipo y género que queremos buscar 
    #cada una le pone su API KEY
    url2 = url_dinamica("Drama", anio, "short","54b0a47db5mshf6ed07e25abb30dp19e0edjsn935796beb60a")
    lista_json_anios3.append(url2)

In [ ]:
#comprobamos que las últimas páginas tienen datos
lista_json_anios[-1]

In [ ]:
#comprobamos que las últimas páginas tienen datos
lista_json_anios1[-1]

In [ ]:
lista_json_anios2[-1]

In [ ]:
lista_json_anios3[-1]

In [39]:
#unificamos ambas listas con lo sacado de la API
lista_json_anios = lista_json_anios + lista_json_anios1 + lista_json_anios2 + lista_json_anios3

In [40]:
#creamos una función para sacar los datos que queremos de los json

def busqueda_info (lista):
    datos = []
    #un primer bucle para iterar por cada año
    for num in range (0,len(lista)):
        #iteramos por cada película
        for pelicula in lista[num]["results"]:
            lista_para_tupla = []
            lista_para_tupla.append(pelicula["titleType"]["text"])
            lista_para_tupla.append(pelicula['originalTitleText']['text'])
            
            try: #si el valor de año es nulo cogemos el otro dato de año que tiene el json
                lista_para_tupla.append(pelicula["releaseDate"]["year"])
            except:
                lista_para_tupla.append(pelicula["releaseYear"]["year"])

            try:#si el valor de mes es nulo, appendeamos 0
                lista_para_tupla.append(pelicula['releaseDate']['month'])
            except:
                lista_para_tupla.append(0)

            lista_para_tupla.append(pelicula['id'])

            #convertimos en tupla
            tupla = tuple(lista_para_tupla)
            
            #añadimos la tupla a la lista 
            datos.append(tupla)
            
                
    return datos

In [ ]:
#llamamos a la funcion anterior

datos_final = []

fin =len(lista_json_anios)

for num in range(0,fin):
    lista3 = busqueda_info(lista_json_anios[num])
    datos_final = datos_final + lista3

datos_final

In [42]:
len(lista_json_anios)

82

In [43]:
encabezado = ["Tipo", "Título", "Año", "Mes", "ID"]

In [44]:
df_drama_2000_2023 = pd.DataFrame(datos_final, columns = encabezado)

df_drama_2000_2023

        Tipo                    Título     Año  Mes         ID
0      Movie               Pál Adrienn  2011.0  6.0  tt0146592
1      Movie            Oda az igazság  2010.0  2.0  tt0154039
2      Movie  A zöld sárkány gyermekei  2011.0  4.0  tt0162942
3      Movie         The Final Journey  2010.0  9.0  tt0230212
4      Movie               In My Sleep  2010.0  4.0  tt0326965
...      ...                       ...     ...  ...        ...
40995  Short              When in Rome  2009.0  2.0  tt1362332
40996  Short               Perspective  2009.0  0.0  tt1362288
40997  Short                 Communion  2009.0  NaN  tt1362385
40998  Short                   Closure  2009.0  6.0  tt1362383
40999  Short           A Second Chance  2009.0  4.0  tt1362306

[41000 rows x 5 columns]

In [45]:
df_drama_2000_2023.to_csv("drama.csv")