In [2]:
import mysql.connector
from mysql.connector import errorcode


import pandas as pd
import numpy as np

In [2]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')
  print("Conexion establecida")

except mysql.connector.Error as err:

  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  else:
    print(err)

Conexion establecida

In [3]:
df_total_api = pd.read_csv("total_api_para_BBDD.csv", index_col = 0)

In [6]:
df_total_api.head()

         0         1                   2       3     4          5
0  comedia  pelicula  This Wretched Life  2010.0   7.0  tt0331312
1  comedia  pelicula         Blind Sided  2010.0   0.0  tt0337882
2  comedia  pelicula    Anderson's Cross  2010.0   5.0  tt0393049
3  comedia  pelicula             Tangled  2010.0  12.0  tt0398286
4  comedia  pelicula       Venus & Vegas  2010.0  11.0  tt0423474

In [ ]:
lista_api_para_bbdd = df_total_api.values.tolist()

In [17]:
lista_definitiva = [tuple(peli) for peli in lista_api_para_bbdd]

In [21]:
lista_definitiva[:4]

[('comedia', 'pelicula', 'This Wretched Life', 2010.0, 7.0, 'tt0331312'),
 ('comedia', 'pelicula', 'Blind Sided', 2010.0, 0.0, 'tt0337882'),
 ('comedia', 'pelicula', "Anderson's Cross", 2010.0, 5.0, 'tt0393049'),
 ('comedia', 'pelicula', 'Tangled', 2010.0, 12.0, 'tt0398286')]

In [23]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='bho')


mycursor = cnx.cursor()
query = "INSERT INTO api (genero, tipo, nombre_peli_api, a√±o_api, mes_api, codigo_imbd) VALUES (%s, %s, %s, %s, %s, %s)"
val = lista_definitiva

try: 
    mycursor.executemany(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

69414 registro/s insertado/s.

In [3]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='bho')

cnx.close()