In [1]:
import mysql.connector
from mysql.connector import errorcode


import pandas as pd
import numpy as np

In [2]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')
  print("Conexion establecida")

except mysql.connector.Error as err:

  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  else:
    print(err)

Conexion establecida

In [3]:
df_actor_peli = pd.read_csv("pelis_actores.csv")

In [4]:
df_actor_peli .head()

      pelicula              actor
0  In My Sleep  Philip Winchester
1  In My Sleep      Lacey Chabert
2  In My Sleep    Abigail Spencer
3  In My Sleep      Kelly Overton
4  In My Sleep          Tony Hale

In [5]:
lista_pelis_actores = df_actor_peli .values.tolist()

In [ ]:
lista_pelis_actores

In [16]:
for peli in lista_pelis_actores:
    if peli[0] == "Anderson's Cross":
        print(peli)

["Anderson's Cross", 'Jerome Elston Scott']
["Anderson's Cross", 'Nicholas Downs']
["Anderson's Cross", 'Heather Bergdahl']
["Anderson's Cross", 'Michael Warren']
["Anderson's Cross", 'Joyce Guy']
["Anderson's Cross", 'Joanna Cassidy']
["Anderson's Cross", 'Bill Moseley']
["Anderson's Cross", 'Micah Stuart']
["Anderson's Cross", 'Jerome Elston Scott']
["Anderson's Cross", 'Nicholas Downs']
["Anderson's Cross", 'Heather Bergdahl']
["Anderson's Cross", 'Michael Warren']
["Anderson's Cross", 'Joyce Guy']
["Anderson's Cross", 'Joanna Cassidy']
["Anderson's Cross", 'Bill Moseley']
["Anderson's Cross", 'Micah Stuart']

In [7]:
lista_definitiva = [tuple(peli) for peli in lista_pelis_actores]

In [ ]:
lista_definitiva

In [10]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='bho')


mycursor = cnx.cursor()
query = "INSERT INTO peli_act(pelicula, actor) VALUES(%s, %s)"
val = lista_definitiva

try: 
    mycursor.executemany(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

4072 registro/s insertado/s.

In [30]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='bho')

cnx.close()