In [5]:
# Importar librerías para tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd  # Pandas es una poderosa librería para manipulación y análisis de datos en Python.

# Importar librerías para web scraping y manipulación de datos
# -----------------------------------------------------------------------
# from bs4 import BeautifulSoup
import requests

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.

# Importar librerías para pausar la ejecución
# -----------------------------------------------------------------------
from time import sleep  # Sleep se utiliza para pausar la ejecución del programa por un número de segundos.

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

import numpy as np

import re
import random

 --1er tramo# df_imdb = pd.read_csv("action_1000_pelis.csv", index_col = 0)
# df_tomatoes = pd.read_csv("action_1001_tomatoes.csv", index_col = 0)
df_imdb = pd.read_csv("action2_1001_2000_pelis.csv", index_col = 0)
# df_tomatoes = pd.read_csv("action_2001_tomatoes.csv", index_col = 0)

In [52]:
df_action = pd.read_csv("action.csv", index_col = 0)
df_imdb = pd.read_csv("action_6001_10000_pelis.csv", index_col = 0)
df_tomatoes = pd.read_csv("action_10001_tomatoes.csv", index_col = 0)

convertimos tanto el dataframe de los datos de la API como el de IMDB como el de Rotten tomatoes a lista

In [53]:
# primeras_action_1000_df = df_action.values.tolist()[0:1001]
# segundas_action_2001_df = df_action.values.tolist()[1001:2001]
# terceras_action_6001_df = df_action.values.tolist()[2001:6001]
cuartas_action_10001_df = df_action.values.tolist()[6001:10001]

In [54]:
cuartas_10001_action_imdb = df_imdb.values.tolist()
# primeras_1000_action_imdb = df_imdb.values.tolist()

In [55]:
cuartas_10001_action_tomatoes = df_tomatoes.values.tolist()
# primeras_1000_action_tomatoes = df_tomatoes.values.tolist()

In [56]:
# primeras_action_1000_df[-1]
len(cuartas_action_10001_df)
# len(terceras_action_6001_df)

4000

In [57]:
# primeras_1000_action_imdb[-1]
# len(terceras_6001_action_imdb)
len(cuartas_10001_action_imdb)

4000

In [58]:
# primeras_1000_action_tomatoes[-1]
len(cuartas_10001_action_tomatoes)

4000

In [60]:
# Incluir puntuacion tomatoes en la tupla de imdb
def fase2_unificada (lista_imdb, lista_tomatoes, lista_df):

    lista_final_fase2 = []

    for indice, tupla in enumerate(lista_imdb):
        lista_incluir_tomatometer = list(tupla)
        lista_incluir_tomatometer.append(lista_df[indice][5]) ## incluimos codigo imdb por si hace falta para cruzar en la BBDD
        lista_incluir_tomatometer.insert(1, lista_tomatoes[indice])
        tupla_completa = tuple(lista_incluir_tomatometer)
        lista_final_fase2.append(tupla_completa)
        

    return lista_final_fase2

In [61]:
#llamamos a la funcion y le damos las listas anteriores
segundas_2001_action_todo = fase2_unificada(cuartas_10001_action_imdb, cuartas_10001_action_tomatoes, cuartas_action_10001_df)

# primeras_1000_action_todo = fase2_unificada(primeras_1000_action_imdb,primeras_1000_action_tomatoes,primeras_action_1000_df )

In [62]:
# primeras_1000_action_todo[0] realmente son las terceras
segundas_2001_action_todo[0]

('5.7',
 ['45'],
 'Fumihiko Sori',
 'Jeffrey Scott',
 "In the land of Orlais, where battles are fought with swords and magic, a young heroine rises as templars, mages, and dragons clash. Cassandra, a brash and beautiful Seeker, must stop a conspiracy that threatens the realm's most powerful religious order, the Chantry of Andraste. Accused of treasonous crimes and hunted by friend and foe, Cassandra must clear her name an... Leer todo",
 '90',
 'Dragon Age: Dawn of the Seeker',
 'tt1709652')

primeras_1000_action_todo_definitiva = []

In [63]:
#SI LA PÙNTUACION DE ROTTEN TOMATOES ESTA DENTRO DE UNA LISTA HAZ ESTO
segundas_2001_action_todo_definitiva = []
for peli in segundas_2001_action_todo:
    lista = list(peli)
    lista[1]= lista[1][0]
    tupla = tuple(lista)
    segundas_2001_action_todo_definitiva.append(tupla)

In [ ]:
#el encabezado para el dataframe
#encabezado = ["Puntuacion IMDB", "Puntuacion Rotten Tomatoes", "Direccion", "Guionistas", "Argumento", "Duracion", "Nombre" "Codigo IMDB"]

In [64]:
#convertimos a dataframe
df_action_segundas_2000_completo = pd.DataFrame(segundas_2001_action_todo_definitiva)

df_action_segundas_2000_completo

,0,1,2,3,4,5,6,7
0,5.7,45,Fumihiko Sori,Jeffrey Scott,"In the land of Orlais, where battles are fough...",90,Dragon Age: Dawn of the Seeker,tt1709652
1,5.2,No tiene datos,Rob Cohen,Marc Moss,Un detective de homicidios es empujado al bord...,101,En la mente del asesino,tt1712170
2,6.7,No tiene datos,Takeshi Kitano,Takeshi Kitano,As the police launch a full-scale crackdown on...,110,Outrage 2,tt1724962
3,7.5,No tiene datos,Patrick Sheehan,Patrick Sheehan,A documentary that tells the story of Dale Bro...,82,Man in the Glass: The Dale Brown Story,tt1725029
4,4.4,25,Mischa Webley,Mischa Webley,The shadow of war follows a troubled Iraq War ...,92,The Kill Hole,tt1727373
...,...,...,...,...,...,...,...,...
3995,5.9,54,Khadar Kumar S,Khadar Kumar S,No tiene argumento,161,Veeram,tt11603780
3996,No tiene datos,20,Guru Deshpande,Prajwal Devaraj,No tiene argumento,No tiene datos,Thackeray,tt11603750
3997,No tiene datos,No tiene datos,Jack Dalton,"Jack Dalton, Sammie Dibbern","136 years after the Second Dark War, a dangero...",108,Conservators IV: Fracture,tt11609616
3998,5.1,No tiene datos,Francis Nam,Shuang Guo,"In Empress Wu's reign, there are several bizar...",93,Di Renjie tan an,tt11621896
3999,6.2,No tiene datos,Molly Hermann,"Steve Alexander, Kirk Chapman, Ron Glasgow",The U.S. expands westward after the Civil War ...,45,Battle of Little Bighorn,tt11634288

In [65]:
#convertimos a csv
df_action_segundas_2000_completo.to_csv("cuartas_10001_action_definitiva_pelis.csv")

In [2]:
archivo1 ="\Users\MIRNA\Desktop\Promo g\Modulo 2\proyecto-da-promo-G-modulo-2-team-4\primeras_1000_action_definitiva_pelis.csv"
archivo2 ="\Users\MIRNA\Desktop\Promo g\Modulo 2\proyecto-da-promo-G-modulo-2-team-4\segundas_2001_action_definitiva_pelis.csv"
archivo3 ="\Users\MIRNA\Desktop\Promo g\Modulo 2\proyecto-da-promo-G-modulo-2-team-4\terceras_6001_action_definitiva_pelis.csv"
archivo4 ="\Users\MIRNA\Desktop\Promo g\Modulo 2\proyecto-da-promo-G-modulo-2-team-4\cuartas_10001_action_definitiva_pelis.csv"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (2280895342.py, line 1)

In [ ]:
# Lee cada archivo CSV en un DataFrame
df1 = pd.read_csv('archivo1.csv')
df2 = pd.read_csv('archivo2.csv')
df3 = pd.read_csv('archivo3.csv')

# Une los DataFrames utilizando el método concat
# Puedes especificar más parámetros según tus necesidades, como axis (eje), join, etc.
result = pd.concat([df1, df2, df3], ignore_index=True)

# Guarda el resultado en un nuevo archivo CSV
result.to_csv('resultado.csv', index=False)

In [9]:
df1 = pd.read_csv("primeras_1000_action_definitiva_pelis.csv")
df2 = pd.read_csv('segundas_2001_action_definitiva_pelis.csv')
df3 = pd.read_csv('terceras_6001_action_definitiva_pelis.csv')
df4 = pd.read_csv('cuartas_10001_action_definitiva_pelis.csv')

result = pd.concat([df1, df2, df3, df4], ignore_index=True)

result.to_csv('action_10001_imdb_tomatoes_DEFINITIVA.csv', index=False)